.container {
  width: 300px;
  margin: 0 auto;
}
.main-image-container, .controller {
  margin-bottom: 8px;
}
.main-image-container > img {
  width: 300px;
  height: 200px;
  vertical-align: bottom;
}
.controller {
  display: flex;
  justify-content: space-between;
}
.controller__btn {
  width: 60px;
  font-size: 12px;
  padding: 4px;
  text-align: center;
  border: 1px solid #dedede;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}
.controller__btn--wide {
  width: 140px;
}
.controller__btn--hidden {
  display: none;
}
.thumbnails {
  display: grid;
  grid-template-columns: repeat(5, 56px);
  gap: 5px;
}
.thumbnail {
  width: 56px;
  vertical-align: bottom;
  opacity: 0.4;
  cursor: pointer;
}
.thumbnail--current, .thumbnail:hover {
  opacity: 1;
}
